<% layout("layouts/boilerplate") -%>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Create New Category</h1>

        <form action="/categories" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="password">Image</label>
                <input class="form-control" type="text" id="imagePath" name="imagePath" required>
            </div>

            <button type="submit" class="btn btn-primary">Create New Category</button>
        </form>

    </div>
</div>